:root {
    --cor1: #41384e;
    --cor2: #725a7a;
    --cor3: #776483;
    --cor4: #b8aac3;
    --cor5: #e99e75;
    --fundo: #fdfff2;
}/* Paleta de cor (variaveis)*/

* {
} /* codigo geral */

header {
} /* codigo de todo header */

footer {
}