:root {
    --cor1: #41384e;
    --cor2: #725a7a;
    --cor3: #776483;
    --cor4: #b8aac3;
    --cor5: #e99e75;
    --fundo: #fdfff2;
}/* Paleta de cor (variaveis)*/

* {
    margin: 0px;
} /* codigo geral */

header {
    display: flex;
    flex-direction: row;
} /* codigo de todo header */

footer {
}

#menu{
    background-color: var(--cor1);
}